@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin, hidden scrollbar until hover */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: rgba(100, 116, 139, 0.5) transparent; /* visible on hover */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 116, 139, 0.5); /* slate-500 */
}
